body{
	background:#2286c6;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial;
}

#container{
	margin: 0px auto;

	width:780px;
	height:600px;
	text-align:left;
	background:#123456;
}
#banner{
margin:0px;
padding:0px;
background:red;
height:150px;
width:100%;
}

#globellink{
margin:0px;
padding:0px;
}

#globallink ul li{
padding:0px;
margin:0px;
list-style-type:none;
float:left;
text-align:center;
width:60px;
}
#globallink ul li a
{
display:block;
padding:9px 6px 11px 6px;
margin:0px;
background:url("images/button.png");
}
#globallink a:link,#globallink a:visited{
color:red;
text-decoration:underline;
}

#globallink a:hover{
color:white;
text-decoration:none;
background:url("images/button1.png");
}

#left{
margin:0px;
padding:0px 0px 5px 0px;
color:white;
width:200px;
height:370px;
background:purple;
float:left;
clear:both;
}

#middle{
margin:0px 2px 0px 2px;
background:red;
width:400px;
height:370px;
pading:5px 0px 5px 0px;
float:left;
}
#right{
margin:0px 0px 0px 0px;
background:black;
width:176px;
height:370px;
pading:0px 0px 5px 0px;
float:left;
/*clear:left;*/
}
#footter{
background:white;
width:100%;
height:30px;
margin:1px 0px 0px 0px;
padding:1px 0px;
clear:both;
}
#weather{	

	background:url("images/weather.png");
	margin:0px 5px 0px 5px;
	background-color:black;
}
#weather h3{
font-size:12px;
padding:20px 0px 0px 74px;
}
#weather ul
{
margin:8px 5px 0px 5px;
padding:10px 0px 8px 5px;
list-style-type:none;
}
#weather ul li{
	background:url("images/icon.jpg");
	padding:0px 0px 0px 30px;
}
#today{
background-color:#5ea6eb;
}
#today h3
{
color:#123456;
font-size:20px;
background:#5ea6eb url("images/icon2.jpg");
}
#today ul
{
list-style-type:none;
padding:0px;

}
#today ul li
{
	text-align:center;
}
#today ul li img
{ 
	border:1px solid #ffffff;
	margin:8px 0px 0px 0px;
}